{% extends "base.html" %}

{% block title %}Dashboard - {{ repo.name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <nav class="nav nav-tabs" id="dashboardTabs" role="tablist">
            <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button">Overview</button>
            <button class="nav-link" id="commits-tab" data-bs-toggle="tab" data-bs-target="#commits" type="button">Commits</button>
            <button class="nav-link" id="contributors-tab" data-bs-toggle="tab" data-bs-target="#contributors" type="button">Contributors</button>
            <button class="nav-link" id="activity-tab" data-bs-toggle="tab" data-bs-target="#activity" type="button">Activity</button>
            <button class="nav-link" id="files-tab" data-bs-toggle="tab" data-bs-target="#files" type="button">Files</button>
            <button class="nav-link" id="branches-tab" data-bs-toggle="tab" data-bs-target="#branches" type="button">Branches</button>
            <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button">Messages</button>
        </nav>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="tab-content" id="dashboardTabContent">
            <div class="tab-pane fade show active" id="overview" role="tabpanel">
                {% include "partials/commits.html" %}
            </div>
            <div class="tab-pane fade" id="commits" role="tabpanel">
                {% include "partials/commits.html" %}
            </div>
            <div class="tab-pane fade" id="contributors" role="tabpanel">
                {% include "partials/contributors.html" %}
            </div>
            <div class="tab-pane fade" id="activity" role="tabpanel">
                {% include "partials/heatmap.html" %}
            </div>
            <div class="tab-pane fade" id="files" role="tabpanel">
                {% include "partials/files.html" %}
            </div>
            <div class="tab-pane fade" id="branches" role="tabpanel">
                {% include "partials/branches.html" %}
            </div>
            <div class="tab-pane fade" id="messages" role="tabpanel">
                {% include "partials/messages.html" %}
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ repo.name }}</h5>
                <p class="card-text">
                    <strong>Path:</strong> {{ repo.path }}<br>
                    <strong>Branches:</strong> {{ repo.branch_count }}<br>
                    <strong>Commits:</strong> {{ repo.total_commits }}<br>
                    <strong>Contributors:</strong> {{ repo.contributors|length }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
const repoPath = {{ repo_path_js | tojson }};
const apiBase = '/api/repo/' + encodeURIComponent(repoPath);
</script>
<script src="{{ url_for('static', filename='js/charts.js') }}"></script>
<script src="{{ url_for('static', filename='js/heatmap.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
{% endblock %}